:root {
    --white: #fff;
    --white-opacity: rgba(255, 255, 255, .6);
    --black: #000;
    --black-opacity: rgba(0, 0, 0, .6);
    --gray: #E9E9E9; 
    --dark-gray: #969696;
    --dark-gray1: #9B9B9B;
    --dark-gray2: #929292;
    --red: #EB0028;
}
